/*========================================

	Base Styles

========================================*/
/*========================================

	Grid Styles
	
	Credit: Sonny Prince - primary developer of grid.scss
	https://github.com/sonnyprince

    --------------------------------------

========================================*/
/*========================================

	Grid Basic Setup

========================================*/
/*========================================

	Container Setup

========================================*/
.container {
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
  max-width: 1320px; }
  @media (max-width: 1024) {
    .container {
      padding: 0 15px; } }

/*========================================

	Setup Column and Offset Column
	Float and Margins

========================================*/
.column, .columns {
  float: left;
  *display: inline;
  margin: 0 1.32576%; }
  .column.first, .columns.first {
    margin-left: 0; }
  .column.last, .columns.last {
    margin-right: 0; }

/*========================================

	Clearfix and margin on Rows

========================================*/
.row {
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .row:after {
    clear: both; }

.negative-row {
  position: relative;
  margin-left: -1.32576%;
  margin-right: -1.32576%; }

@media only screen and (max-width: 400px) {
  .negative-mini-mobile {
    padding: 0;
    margin-left: -1.32576%;
    margin-right: -1.32576%; } }

/*========================================

	Columns List

========================================*/
/*========================================

	Create Each Grid Column Percentage

========================================*/
/*========================================

	Standard Column Widths And Offsets

========================================*/
.one.columns {
  width: 5.68182%; }

.two.columns {
  width: 14.01515%; }

.three.columns {
  width: 22.34848%; }

.four.columns {
  width: 30.68182%; }

.five.columns {
  width: 39.01515%; }

.six.columns {
  width: 47.34848%; }

.seven.columns {
  width: 55.68182%; }

.eight.columns {
  width: 64.01515%; }

.nine.columns {
  width: 72.34848%; }

.ten.columns {
  width: 80.68182%; }

.eleven.columns {
  width: 89.01515%; }

.twelve.columns {
  width: 97.34848%; }

.offset-by-half {
  margin-left: 5.49242%; }

.offset-by-one {
  margin-left: 9.65909%; }

.offset-by-one-half {
  margin-left: 13.82576%; }

.offset-by-two {
  margin-left: 17.99242%; }

.offset-by-two-half {
  margin-left: 22.15909%; }

.offset-by-three {
  margin-left: 26.32576%; }

.offset-by-three-half {
  margin-left: 30.49242%; }

.offset-by-four {
  margin-left: 34.65909%; }

.offset-by-four-half {
  margin-left: 38.82576%; }

.offset-by-five {
  margin-left: 42.99242%; }

.offset-by-five-half {
  margin-left: 47.15909%; }

.offset-by-six {
  margin-left: 51.32576%; }

.offset-by-six-half {
  margin-left: 55.49242%; }

.offset-by-seven {
  margin-left: 59.65909%; }

.offset-by-seven-half {
  margin-left: 63.82576%; }

.offset-by-eight {
  margin-left: 67.99242%; }

.offset-by-eight-half {
  margin-left: 72.15909%; }

.offset-by-nine {
  margin-left: 76.32576%; }

.offset-by-nine-half {
  margin-left: 80.49242%; }

.offset-by-ten {
  margin-left: 84.65909%; }

.offset-by-ten-half {
  margin-left: 88.82576%; }

.offset-by-eleven {
  margin-left: 92.99242%; }

.offset-by-eleven-half {
  margin-left: 97.15909%; }

/*========================================

	Resonsive Column Widths And Offsets

========================================*/
@media only screen and (max-width: 768px) {
  .one-tablet.columns {
    width: 5.68182%; }
  .two-tablet.columns {
    width: 14.01515%; }
  .three-tablet.columns {
    width: 22.34848%; }
  .four-tablet.columns {
    width: 30.68182%; }
  .five-tablet.columns {
    width: 39.01515%; }
  .six-tablet.columns {
    width: 47.34848%; }
  .seven-tablet.columns {
    width: 55.68182%; }
  .eight-tablet.columns {
    width: 64.01515%; }
  .nine-tablet.columns {
    width: 72.34848%; }
  .ten-tablet.columns {
    width: 80.68182%; }
  .eleven-tablet.columns {
    width: 89.01515%; }
  .twelve-tablet.columns {
    width: 97.34848%; }
  .offset-by-none-tablet {
    margin-left: 1.32576%;
    margin-right: 1.32576%; } }

@media only screen and (max-width: 760px) {
  .columns {
    float: none;
    display: block;
    margin: 0 1.25% 5%; }
    .columns.first {
      margin-left: 10px; }
    .columns.last {
      margin-right: 10px; }
  .one.columns {
    width: auto; }
  .two.columns {
    width: auto; }
  .three.columns {
    width: auto; }
  .four.columns {
    width: auto; }
  .five.columns {
    width: auto; }
  .six.columns {
    width: auto; }
  .seven.columns {
    width: auto; }
  .eight.columns {
    width: auto; }
  .nine.columns {
    width: auto; }
  .ten.columns {
    width: auto; }
  .eleven.columns {
    width: auto; }
  .twelve.columns {
    width: auto; }
  .one-phablet.columns {
    float: left;
    margin: 0 1.25% 2.5%;
    width: 22.5%; }
    .one-phablet.columns.mbn {
      margin-bottom: 0; }
  .two-phablet.columns {
    float: left;
    margin: 0 1.25% 2.5%;
    width: 47.5%; }
    .two-phablet.columns.mbn {
      margin-bottom: 0; }
  .three-phablet.columns {
    float: left;
    margin: 0 1.25% 2.5%;
    width: 72.5%; }
    .three-phablet.columns.mbn {
      margin-bottom: 0; } }

@media only screen and (max-width: 569px) {
  .one-phablet.columns {
    width: 97.25%; }
  .two-phablet.columns {
    width: 97.25%; }
  .three-phablet.columns {
    width: 97.25%; }
  .one-mobile.columns {
    margin: 0 1.25% 2.5%;
    width: 47.5%; }
  .two-mobile.columns {
    margin: 0 1.25% 2.5%;
    width: 97.5%; } }

/*========================================

	Resonsive Mixin For Responsive 
	Styles Within The Normal Classes.

========================================*/
/*========================================

  Normalize Styles

    --------------------------------------

========================================*/
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*========================================

	Base Styles

    --------------------------------------

========================================*/
/*========================================

	Reset

========================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0; }

/*========================================

	Micro Clearfix

========================================*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/*========================================

	Box Layout

========================================*/
* {
  box-sizing: border-box;
  *behavior: url("../js/src/vendors/boxsizing.htc"); }

/*========================================

	Useful Global Styles
		
========================================*/
img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%; }

nav ul {
  list-style: none; }

button {
  border: 0;
  background: transparent;
  padding: 0;
  outline: 0; }

/*========================================

	Font Rendering

========================================*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*========================================

	Base font size

========================================*/
html, body {
  font-size: 62.5%; }

/*========================================

	Global Styles

========================================*/
/*========================================

    Colour Styles
    _____________

========================================*/
/*========================================

	Normal Colours

========================================*/
/*========================================

    Main Colours 

========================================*/
/*========================================

    Colour Variations

========================================*/
/*========================================
     
    Colour Classes

========================================*/
.bg-primary {
  background: #08b7db; }

.color-primary {
  color: #08b7db; }

.bg-secondary {
  background: #454545; }

.color-secondary {
  color: #454545; }

.bg-accent {
  background: #34dddd; }

.color-accent {
  color: #34dddd; }

.bg-grey {
  background: #9b9eab; }

.color-grey {
  color: #9b9eab; }

.bg-primary-variation-1 {
  background: #646466; }

.color-primary-variation-1 {
  color: #646466; }

.bg-secondary-variation-1 {
  background: #f9f9f9; }

.color-secondary-variation-1 {
  color: #f9f9f9; }

.bg-white-default {
  background: #ffffff; }

.color-white-default {
  color: #ffffff; }

.bg-black-default {
  background: #000000; }

.color-black-default {
  color: #000000; }

/*========================================

    Mixins
    _____________

========================================*/
/*========================================

	Cross Browser Opacity

========================================*/
/*========================================

	REM Cross Browser Font Size 
	Calculator

========================================*/
/*========================================

    Cross Browser Vertical Gradient

========================================*/
/*========================================

    Cross Browser Horizontal Gradient

========================================*/
/*========================================

    List styles

========================================*/
/*========================================

    Clearfix

========================================*/
/*========================================

    Placeholder

========================================*/
/*========================================

	Transitions

========================================*/
/*========================================

   Background Images

========================================*/
/*========================================

   Positioning

========================================*/
/*========================================

    Keyframe animation

========================================*/
/*========================================

    Text ellipsis

========================================*/
/*========================================

   Horizonal Scrolling

========================================*/
/*========================================

    Typography Styles
    _____________

========================================*/
body {
  font-family: 'Merriweather', serif;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  color: #454545;
  line-height: 1.2;
  font-family: 'Merriweather', serif;
  font-weight: 900; }

h1 {
  margin-bottom: 0.5em;
  font-size: 30px;
  font-size: 3rem; }
  @media (max-width: 1024px) {
    h1 {
      font-size: 30px;
      font-size: 3rem; } }
  @media (max-width: 768px) {
    h1 {
      font-size: 28px;
      font-size: 2.8rem; } }
  @media (max-width: 414px) {
    h1 {
      font-size: 26px;
      font-size: 2.6rem; } }

h2 {
  margin-bottom: 0.75em;
  font-size: 18px;
  font-size: 1.8rem; }
  @media (max-width: 1024px) {
    h2 {
      font-size: 18px;
      font-size: 1.8rem; } }
  @media (max-width: 768px) {
    h2 {
      font-size: 17px;
      font-size: 1.7rem; } }
  @media (max-width: 414px) {
    h2 {
      font-size: 16px;
      font-size: 1.6rem; } }

h3 {
  margin-bottom: 0.75em; }

h4 {
  margin-bottom: 1em; }

h5 {
  margin-bottom: 1em; }

h6 {
  margin-bottom: 1em; }

p, li, a {
  line-height: 1.5;
  color: #454545;
  margin-bottom: 1em;
  font-size: 14px;
  font-size: 1.4rem; }

a:hover {
  color: #34dddd; }

/*========================================

	Typography Helpers

========================================*/
.heading-font {
  font-family: 'Merriweather', serif;
  font-weight: 900; }

.body-font {
  font-family: 'Merriweather', serif;
  font-weight: 400; }

/*========================================

    Icons
    _____________

========================================*/
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*========================================

    Z-Index Styles
    _________________

    This File Is For Setting All Of
    The Base Z-Index Values For A More
	Modular & Reusable Approach.

	Credit: Sonny Prince - developer of zindex.scss
	https://github.com/sonnyprince

========================================*/
/*========================================

	Example Usage
	--------------------------------------

	.className {
		z-index: z(modal);
	}

	Will Output:

	.className {
		z-index: 3000;
	}

========================================*/
/*========================================

	Helper Styles
	_____________

========================================*/
/*========================================

	Margin Helpers

========================================*/
.mbn {
  margin-bottom: 0; }

.mb {
  margin-bottom: 1.76768%; }

.mb25 {
  margin-bottom: 25px; }

/*========================================

	Transition Helpers

========================================*/
.transition {
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.transition-fast {
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

/*========================================

	Animation Helpers

========================================*/
/*========================================

	Example Usage
	--------------------------------------

	.shake {
	    @include animation('shake 0.5s');
	}

========================================*/
/*========================================

	List Helpers

========================================*/
.block-list {
  margin-left: 0px;
  list-style: none; }
  .block-list > li {
    float: none;
    display: block; }

.inline-list {
  margin-left: 0px;
  list-style: none; }
  .inline-list > li {
    float: left;
    margin-bottom: 0px; }

/*========================================

	Container Helpers

========================================*/
.same-height-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  @media (max-width: 760px) {
    .same-height-children {
      display: block; } }

/*========================================

	Position helpers

========================================*/
.hidden {
  display: none; }

.display-block {
  display: block; }

.text-center {
  text-align: center; }

/*========================================

	Text Helpers

========================================*/
.text-hidden {
  font-size: 0;
  position: absolute;
  color: transparent;
  text-indent: -99999px; }

/*========================================

	Animations Styles

    --------------------------------------

========================================*/
/*========================================

    Example Usage
    --------------------------------------

    @include keyframes(scaleUp) {
        0% {
            transform: scale(0);
            opacity: 0;
        }
        100% { 
            opacity: 1;
            transform: scale(1);
        }
    }
========================================*/
/*========================================

	Layout Styles

========================================*/
/*========================================

    Layout Styles
    _____________

    For Header, Main and Footer sections

========================================*/
html {
  background: rgba(8, 183, 219, 0.5);
  padding: 10px 0 60px; }

html, body {
  height: 100%;
  overflow: hidden; }

main {
  height: 100%; }

.logo {
  right: 0;
  bottom: -5px;
  height: 50px;
  width: 160px;
  position: absolute;
  background: url(../img/blwire-logo.svg) center center no-repeat;
  background-size: auto 30px; }

/*========================================
		Component Styles
	========================================*/
/*========================================

    Button Styles
    _____________


========================================*/
.btn, button, input[type='submit'] {
  width: 100%;
  display: inline;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  overflow: hidden;
  text-align: center;
  padding: 10px 35px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  text-decoration: none;
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: uppercase; }
  .btn[disabled], button[disabled], input[type='submit'][disabled] {
    color: #9b9eab;
    background: #454545;
    border-color: #454545; }
    .btn[disabled]:hover, .btn[disabled]:focus, button[disabled]:hover, button[disabled]:focus, input[type='submit'][disabled]:hover, input[type='submit'][disabled]:focus {
      color: #9b9eab;
      background: #454545;
      border-color: #454545; }

.btn-block-dark {
  background: #08b7db;
  border: 1px solid #08b7db;
  color: #f9f9f9; }
  .btn-block-dark:hover, .btn-block-dark:focus {
    color: #08b7db;
    background: #34dddd;
    border-color: #34dddd; }

/*========================================

    Form Styles
    _____________


========================================*/
/*========================================

    Form Row Styles

========================================*/
.form-row {
  margin-bottom: 25px; }
  .form-row.mbn {
    margin-bottom: 0; }

/*========================================

    Generic Form Field Styles

========================================*/
.styled-input-text-field, .styled-input-textarea {
  width: 100%;
  border: none;
  padding: 10px;
  display: block;
  color: #08b7db;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  font-size: 18px;
  font-size: 1.8rem;
  -webkit-transition: 0.3s background;
  transition: 0.3s background;
  background: #f9f9f9; }

/*========================================

    Text Input Styles

========================================*/
.styled-input-label {
  display: block;
  color: #08b7db;
  margin-bottom: 15px;
  font-size: 18px;
  font-size: 1.8rem; }
  .form-row.hidden-label .styled-input-label {
    display: none; }

.styled-input-textarea {
  min-height: 200px; }

.wire-container {
  padding: 0 10px; }

.wire-column {
  float: left;
  width: 33.33333%;
  height: 100%;
  padding: 5px 5px 0; }

.wire-mb {
  margin-bottom: 0; }

.wire-block {
  display: block;
  padding-bottom: 10px;
  text-decoration: none; }

.wire-width-full {
  width: 100%; }

.wire-width-half {
  float: left;
  width: calc(50% - 5px); }
  .wire-width-half + .wire-width-half {
    margin-left: 10px; }

.wire-height-full {
  height: 100%; }

.wire-height-half {
  height: 50%; }

.wire-height-third {
  height: 33.33333%; }

.wire-height-quarter {
  height: 25%; }

.block {
  margin: 0;
  height: 100%;
  display: block;
  padding: 0 40px;
  border-radius: 2px;
  text-decoration: none;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  /* Chrome10-25,Safari5.1-6 */
  /* FF3.6-15 */
  /* IE10 */
  /* Opera 11.10+ */
  background-image: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( GradientType=0, StartColorStr='#FFFFFFFF', EndColorStr='#FFF2F2F2');
  /* IE6-9 */
  -webkit-transition: 0.2s cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: 0.2s cubic-bezier(0.68, -0.75, 0.265, 1.75);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .block-with-hover:hover {
    z-index: 3;
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.block-text-content, .block-title {
  text-decoration: none;
  text-shadow: none;
  color: #ffffff; }
  .block-text-content.shadowed-text, .block-title.shadowed-text {
    color: #454545;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
  .weather-block .block-text-content, .weather-block .block-title {
    font-family: 'Oswald', sans-serif;
    font-style: normal; }

.alert-block {
  background-image: -webkit-linear-gradient(top, #08DB8A 0%, #06aa6b 100%);
  /* Chrome10-25,Safari5.1-6 */
  /* FF3.6-15 */
  /* IE10 */
  /* Opera 11.10+ */
  background-image: linear-gradient(to bottom, #08DB8A 0%, #06aa6b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( GradientType=0, StartColorStr='#FF08DB8A', EndColorStr='#FF06AA6B');
  /* IE6-9 */ }

.alert-text {
  font-size: 45px;
  font-size: 4.5rem; }

.weather-block {
  position: relative;
  background-size: cover;
  background-position: center center; }
  .weather-block-degrees {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 100px;
    font-size: 10rem;
    color: #ffffff; }
  .weather-block-degrees, .weather-block-text {
    position: relative;
    font-style: normal;
    text-decoration: none;
    z-index: 2; }
  .weather-block:before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block;
    position: absolute;
    opacity: 0.7;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, red 100%);
    /* Chrome10-25,Safari5.1-6 */
    /* FF3.6-15 */
    /* IE10 */
    /* Opera 11.10+ */
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, red 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( GradientType=0, StartColorStr='#00FFFFFF', EndColorStr='#FFFF0000');
    /* IE6-9 */ }

.clear-day {
  background-image: url("../img/clear-day.jpg"); }

.clear-night {
  background-image: url("../img/clear-night.jpg"); }

.rain {
  background-image: url("../img/rain.jpg"); }

.snow {
  background-image: url("../img/snow.jpg"); }

.sleet {
  background-image: url("../img/sleet.jpg"); }

.wind {
  background-image: url("../img/wind.jpg"); }

.fog {
  background-image: url("../img/fog.jpg"); }

.cloudy {
  background-image: url("../img/cloudy.jpg"); }

.partly-cloudy-day {
  background-image: url("../img/partly-cloudy-day.jpg"); }

.partly-cloudy-night {
  background-image: url("../img/partly-cloudy-night.jpg"); }

.hail {
  background-image: url("../img/hail.jpg"); }

.thunderstorm {
  background-image: url("../img/thunderstorm.jpg"); }

.tornado {
  background-image: url("../img/tornado.jpg"); }

.news-block {
  padding-top: 10px; }
  .news-block.with-bg-img {
    position: relative;
    background-size: cover;
    background-position: center center; }
    .news-block.with-bg-img:before {
      content: '';
      top: 30%;
      left: 0;
      height: 70%;
      width: 100%;
      position: absolute;
      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #000000 100%);
      /* Chrome10-25,Safari5.1-6 */
      /* FF3.6-15 */
      /* IE10 */
      /* Opera 11.10+ */
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #000000 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( GradientType=0, StartColorStr='#00FFFFFF', EndColorStr='#FF000000');
      /* IE6-9 */ }

.block-content {
  display: block;
  position: relative;
  z-index: 2; }
  .weather-block .block-content, .alert-block .block-content {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .twitter-block .block-content {
    padding-top: 40px; }
  .news-block .block-content {
    top: 100%;
    padding-bottom: 40px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }

.twitter-block {
  background: #08b7db; }

.tweet-content a, .tweet-content {
  word-break: break-all;
  color: #ffffff;
  font-size: 21px;
  font-size: 2.1rem; }

.tweet-meta {
  display: block;
  margin-bottom: 10px; }
  .tweet-meta:before, .tweet-meta:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .tweet-meta:after {
    clear: both; }
  .tweet-meta a, .tweet-meta {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    font-size: 1.2rem; }

.tweet-date {
  float: right; }

.instagram-block {
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative; }

.instagram-content {
  left: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  padding: 10px;
  position: absolute;
  color: #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 12px;
  font-size: 1.2rem;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* Chrome10-25,Safari5.1-6 */
  /* FF3.6-15 */
  /* IE10 */
  /* Opera 11.10+ */
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( GradientType=0, StartColorStr='#00FFFFFF', EndColorStr='#66000000');
  /* IE6-9 */ }
  .instagram-block:hover .instagram-content {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
