/*========================================

    Colour Styles
    _____________

========================================*/

/*========================================

	Normal Colours

========================================*/

$whiteDefault: #ffffff;  
$blackDefault: #000000;   

/*========================================

    Main Colours 

========================================*/

$primary:       #08b7db; 
$secondary:     #454545; 
$accent:        #34dddd;
$grey:          #9b9eab;
$alert:         #08DB8A;


/*========================================

    Colour Variations

========================================*/

$primaryVariation1:       #646466; 
$secondaryVariation1:     #f9f9f9; 

/*========================================
     
    Colour Classes

========================================*/

$colorList : primary, secondary, accent, grey, primary-variation-1, secondary-variation-1, white-default, black-default;
$colorListVars : $primary, $secondary, $accent, $grey, $primaryVariation1, $secondaryVariation1, $whiteDefault, $blackDefault;

@for $i from 1 through length($colorList) {
    .bg-#{nth($colorList, $i)} { 
        background: nth($colorListVars, $i);
    }
    .color-#{nth($colorList, $i)} { 
        color: nth($colorListVars, $i);
    }
} 
