/*========================================

	Helper Styles
	_____________

========================================*/

/*========================================

	Margin Helpers

========================================*/

.mbn {
	margin-bottom: 0;
}

.mb {
	margin-bottom: ($gutterWidthPercent /1.5);
}

.mb25 { 
    margin-bottom: 25px
}

/*========================================

	Transition Helpers

========================================*/

.transition {
	@include transition;
}

.transition-fast {
	@include transitionFast;
}

/*========================================

	Animation Helpers

========================================*/

/*========================================

	Example Usage
	--------------------------------------

	.shake {
	    @include animation('shake 0.5s');
	}

========================================*/

/*========================================

	List Helpers

========================================*/

.block-list {
    @include blockList;
}

.inline-list {
    @include inlineList;
}

/*========================================

	Container Helpers

========================================*/

.same-height-children { 
	display: flex;
	align-items: stretch;
	@include breakpoint(phablet) {
		display: block;
	} 
}

/*========================================

	Position helpers

========================================*/

.hidden {
	display: none;
}

.display-block {
	display: block;
}

.text-center {
	text-align: center;
}

/*========================================

	Text Helpers

========================================*/

.text-hidden {
	font-size: 0;
    position: absolute;
    color: transparent;
    text-indent: -99999px;
}
