/*========================================

    Icons
    _____________

========================================*/

@font-face {
    font-family: 'icons';
    src:    url('../fonts/icons.eot');
    src:    url('../fonts/icons.eot#iefix') format('embedded-opentype'),
        	url('../fonts/icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin iconFont {
    font-family: 'icons';
    speak: none; 
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
    @include iconFont;
}