/*========================================

    Typography Styles
    _____________

========================================*/

@mixin headingFont() {
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

@mixin bodyFont() {
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

@mixin altFont() {
    font-family: 'Oswald', sans-serif;
}

@mixin type($norm, $smallDesktop, $tablet, $mobile){
    @include font-size($norm)
    @include breakpoint(small-desktop) {
        @include font-size($smallDesktop)
    }
    @include breakpoint(tablet) {
        @include font-size($tablet)
    }
    @include breakpoint(mobile) {
        @include font-size($mobile)
    }
}

body {
    @include bodyFont;
}

h1, h2, h3, h4, h5, h6 {
    color: $secondary;
    line-height: 1.2;
    @include headingFont;
}

h1 {
    margin-bottom: 0.5em;
    @include type(30, 30, 28, 26);
}

h2 {
    margin-bottom: 0.75em;
    @include type(18, 18, 17, 16);
}

h3 {
    margin-bottom: 0.75em;
}

h4 {
    margin-bottom: 1em;
}

h5 {
    margin-bottom: 1em;
}

h6 {
    margin-bottom: 1em;
}

p, li, a {
    line-height: 1.5;
    color: $secondary;
    margin-bottom: 1em;
    @include font-size(14);
}

a {
    &:hover {
        color: $accent;
    }
}

/*========================================

	Typography Helpers

========================================*/

.heading-font {
    @include headingFont;
}

.body-font {
    @include bodyFont;
}