.block-text-content, .block-title {
	text-decoration: none;
	text-shadow: none;
	color: $whiteDefault;
	&.shadowed-text {
		color: #454545;
		text-shadow: 0 1px 0 rgba($whiteDefault, 0.5);
	}
	.weather-block & {
		@include altFont;
		font-style: normal;
	}
}