.block {
	margin: 0;
	height: 100%;
	display: block;
	padding: 0 40px;
	position: relative;
	border-radius: 2px;
	text-decoration: none;
	@include vertical-gradient($whiteDefault, 0%, darken($whiteDefault, 5%), 100%);
	transition: 0.2s cubic-bezier(0.680, -0.750, 0.265, 1.750); 
	box-shadow: 0 1px 3px rgba($blackDefault, 0.12), 0 1px 2px rgba($blackDefault, 0.24);
	&-with-hover {
		&:hover {
			z-index: z(default) +2;
			transform: scale(1.04);
			box-shadow: 0 14px 28px rgba($blackDefault, 0.25), 0 10px 10px rgba($blackDefault, 0.22);
		}
	}
}