.block-content {
	display: block;
	position: relative;
	z-index: z(default) + 1;
	.weather-block &, .alert-block & {
		top: 50%;
		transform: translateY(-50%);
	}
	.twitter-block & {
		padding-top: 40px;
	}
	.news-block & {
		top: 100%;
		padding-bottom: 40px;
		transform: translateY(-100%);
	}
}