/*========================================

    Form Styles
    _____________


========================================*/   

/*========================================

    Form Row Styles

========================================*/

.form-row {
    margin-bottom: 25px;
    &.mbn {
        margin-bottom: 0;
    }
}

/*========================================

    Generic Form Field Styles

========================================*/

%form-field {
    width: 100%;
    border: none;
    padding: 10px;
    display: block;
    color: $primary;
    appearance: none;
    border-radius: 0; 
    @include font-size(18); 
    transition: 0.3s background;
    background: $secondaryVariation1; 
}

/*========================================

    Text Input Styles

========================================*/

.styled-input-label {
    display: block;
    color: $primary;
    margin-bottom: 15px;
    @include font-size(18); 
    .form-row.hidden-label & {
        display: none;
    }
}

.styled-input-text-field {
    @extend %form-field;
}

.styled-input-textarea {
    @extend %form-field;
    min-height: 200px;
}

