.instagram-block {
	background-size: cover;
	background-position: center center;
	overflow: hidden;
	position: relative;
}
.instagram-content {
	left: 0;
	bottom: 0;
	opacity: 0;
	width: 100%;
	padding: 10px;
	position: absolute;
	color: $whiteDefault;
	transition: all 0.2s;
	@include font-size(12);
	transform: translateY(10%);
	text-shadow: 0 1px 1px rgba($blackDefault, 0.8);
	@include vertical-gradient(rgba($whiteDefault, 0), 0%, rgba($blackDefault, 0.4), 100%);
	.instagram-block:hover & {
		opacity: 1;
		transform: translateY(0);
	}
}