.news-block {
	padding-top: 10px;
	&.with-bg-img {
		position: relative;
		background-size: cover;
		background-position: center center;
		&:before {
			content: '';
			top: 30%;
			left: 0;
			height: 70%;
			width: 100%;
			position: absolute;
			@include vertical-gradient(rgba($whiteDefault, 0), 0%, $blackDefault, 100%);
		}
	}
}