.twitter-block {
	background: $primary;
}
.tweet {
	&-content {
		a, & {
			word-break: break-all;
			color: $whiteDefault;
			@include font-size(21);
		}
	}
	&-meta {
		@include clear;
		display: block;
		margin-bottom: 10px;
		a, & {
			@include altFont;
			font-weight: 400;
			color: $whiteDefault;
			@include font-size(12);
		}
	}
	&-date {
		float: right;
	}
}