.weather-block {
	position: relative;
	background-size: cover;
	background-position: center center;
	&-degrees {
		@include altFont;
		font-weight: 400;
		@include font-size(100);
		color: $whiteDefault;
	}
	&-degrees, &-text {
		position: relative;
		font-style: normal;
		text-decoration: none;
		z-index: z(default) + 1;
	}
	&:before {
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: z(default);
		display: block;
		position: absolute;
		opacity: 0.7;
		@include vertical-gradient(rgba($whiteDefault, 0), 0%, red, 100%);
	}
}

$weatherList: clear-day, clear-night, rain, snow, sleet, wind, fog, cloudy, partly-cloudy-day, partly-cloudy-night, hail, thunderstorm, tornado;

@for $i from 1 through length($weatherList) {
    .#{nth($weatherList, $i)} { 
        background-image: url('../img/#{nth($weatherList, $i)}.jpg' );
    }
} 
