
.wire-container {
	padding: 0 10px;
}
.wire-column {
	float: left;
	width: 100/3 + 0%;
	height: 100%;
	padding: 5px 5px 0;
}
.wire-mb {
	margin-bottom: 0;
}
.wire-block {
	display: block;
	padding-bottom: 10px;
	text-decoration: none;
}
.wire-width-full {
	width: 100%;
}
.wire-width-half {
	float: left;
	width: calc(50% - 5px);
	& + & {
		margin-left: 10px;
	}
}
.wire-height-full {
	height: 100%;
}
.wire-height-half {
	height: 50%;
}
.wire-height-third {
	height: 100/3 + 0%;
}
.wire-height-quarter {
	height: 25%;
}