/*========================================

    Layout Styles
    _____________

    For Header, Main and Footer sections

========================================*/    

 html {
 	background: rgba($primary, 0.5);
 	padding: 10px 0 60px;
 }

html, body {
	height: 100%;
	overflow: hidden;
}

main {
	height: 100%;
}

.logo {
	right: 0;
	bottom: -5px;
	height: 50px;
	width: 160px;
	position: absolute;
	background: url(../img/blwire-logo.svg) center center no-repeat;
	background-size: auto 30px;
}