/*========================================

	Base Styles

    --------------------------------------

========================================*/

/*========================================

	Reset

========================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0; 
	padding: 0; 
}

/*========================================

	Micro Clearfix

========================================*/

.clearfix:before,
.clearfix:after { 
	content: " "; /* 1 */
	display: table; /* 2 */
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/*========================================

	Box Layout

========================================*/

* {
	box-sizing: border-box;
	*behavior: url("../js/src/vendors/boxsizing.htc");
}

/*========================================

	Useful Global Styles
		
========================================*/

img {
	width: 100%;
	height: auto;
	display: block;
	max-width: 100%;
}

nav ul {
	list-style: none;
}

button {
    border: 0;
    background: transparent;
    padding: 0;
    outline: 0;
}

/*========================================

	Font Rendering

========================================*/

* {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*========================================

	Base font size

========================================*/

html, body {
  font-size: 62.5%;
}